/************************************************************Introduction********************************/
@media screen and (max-width:1010px){
    .opt{
        font-size: 12px;
    }

    .menu li a{
        margin: 0px;
        text-decoration: none;
        
        letter-spacing: 1px;
        transition: 0.2s;
    }

    .text_intro_acceiulle{
        text-align: start;
        display: flex;
        margin: 5px;
    }

    .ns button{
        margin-top: 15%;
        border: none;
        border-radius: 25px;
        padding: 8px 12px;
        margin-left: 7px;
    }
    
    .introContenaire{
        height: 80vh;
    }
    .introContenaire .cloud img{
        width: 40%;
        transform: translateX(0px);
        animation: cloudX 1s linear;
    }

    .allrow img{
        width: 90%; 
    }
    .allrow {
        
        width: 90%;
        padding: 0px;
    }
    .presentation{
        position: absolute;
        align-items: center;
        height: 70vh;
    }
    .presentation .cercle{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    /****************************************Qualité************************************/


    .Qualite{
        color: #008CBA;
        
        display: flex;
        align-items: center;
        justify-content:center ;
    }

    .Qualite tr{
       width: 100%;
       margin: 30px 0;
       border-radius: 20px;
       padding: 12px;
    }

    

    /*************************************formulaire*******************************/

    .sr .allrow {
        width: 100%;
    }
    
    
 }



 @media screen and (max-width:570px){

    

 }

 @media screen and (max-width:610px){
    
    .defileVerticale{
        width: 20%;
        height: 450px;
        
    }
    .defileVerticale {
        display: flex;
        justify-content: space-between;
        align-items: center;
        animation: scroll 20s linear infinite;

    }

    .text_intro_acceiulle{
        text-align: center;
        
        margin: 5px;
    }

    .introContenaire{
        height: 100vh;
    }

    .ns button{
        margin-top: 5px;
        border: none;
        border-radius: 25px;
        padding: 8px 12px;
        margin-left: 0;
    }

    .ns a{
        border-radius: 25px;
        margin-left: 0;
    }


    .defA{
        font-size: 20px;
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }
    
    .checkbox-group label{
        font-size: 12px;
    }
    .pays[type="checkbox"] {
        appearance: none;
        width: 10px;
        height: 10px;
        background-color: transparent;
        border: .2px solid #000;
        border-radius: 3px;
        cursor: pointer;
        margin-right: 8px;
    }
    .dynamic-text{
        font-size: 12px;
        margin-bottom: 40px;
    }

    .defl img{
        width: 1001px;
        
    }

    .ns {
        margin-top: 7%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .ns a{
        display: flex;
        
        align-items: center;
        justify-content: center;
        width: 80%;
        display: block;
    }
    .ns button{
        width: 100%;
        margin-top: 2%;
        margin-left: 0;
        
    }




    /******************************************productiviter**********************************/

    .productivité p{
        margin: 0;
        padding: 30px 10px;
    }

    .productivité .titre2{
        text-align: center;
        margin-bottom: 20px;
    }
    
    .productivité{
        text-align: justify;
        margin: 20px 10px;
        padding: 30px 10px;
    }
    

    .productivitéTable{
        width: 100%;
        
        padding: 0;
        margin: 0;
        border: none;

    }

    .productivitéTable tr{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .defileVerticale,.defileVerticale_contenair{
       
        width: 100%;
        display: none;
    }

    .defileH_contenair{

        overflow: hidden;
    }

    .productivitéTable{
        border-radius: 10px;
        margin: 0;
    }

    .prdvt{
        background-color: #D9D9D9;
    }

    .defileH{
        display: flex;
        width: 100%;
        
        animation: scrollX 20s linear infinite;
    }
    
    @keyframes scrollX {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(-100%);
        }
        
    }


    /**********************************Service***********************************************/
    


    .boutons .bd{
        display: none;
    }


    /****************************************realisation******************************/
    .mySwiper1 img{
        width: 90%;
    }

    

    /*****************************************footter********************************/
    .footer-container{
        display: flex;
        flex-direction: column;
    }
}



@media screen and (min-width:570px){

    .defileH_contenair{
        display: none;
    }

    .defileVerticale{
        width: 20%;
        height: 450px;
        
    }
    .defileVerticale {
        flex-direction: column;
        animation: scrollY 20s linear infinite;
    }

    .defileVerticale {
        display: flex;
        justify-content: space-between;
    }

    @keyframes scrollY {
        0% {
            transform: translateY(100%);
        }
        100% {
            transform: translateY(-100%);
        }
        
    }
}






.defileVerticale img,.defileH img {
    height: 60px;
    width: 60px;
    padding: 10px;
    margin: 10px;
    margin: 0 20px;
    object-fit: contain;
}