.defl img{
    animation: go 7s  ease-in-out ;
    transform: translateX(900px);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.defl{
    display: flex;
    align-items: center;
    justify-content: center;

}

@keyframes go{
    0%{
        transform: translateX(900px);
        
    }

    12%{
        transform: translateX(-30px);
    }

    25%{
        transform: translateX(0px);
    }
    75%{
        transform: translateX(0px);
    }
    87%{
        transform: translateX(-30px);
    }
    100%{
        
        transform: translateX(900px);
    }
}

@media screen and (max-width:570px){

  
    
}
